extends partials/layout

block content
  .container
    header.jumbotron
      .container
        h1 Welcome to YelpCamp
        p View our handpicked campgrounds from all over the planet
        p
          a.btn.btn-primary.btn-lg(href="/campgrounds/new") Add a new camping ground
    
    .row
      each campground in campgrounds
        .col-md-4
          .card
            img(src=campground.image, class="card-img-top" alt="Missing Image")
            .card-body
              h5.card-text=campground.name