extends partials/layout

block content
  h1 This is the campgrounds page!
  each campground in campgrounds
    div
      h4=campground.name
      img(src=campground.image, alt="Missing Image")
  
  a(href="/campgrounds/new") Add a new camping ground