extends partials/layout

block content
  .container
    .jumbotron
      .container
        h1 Welcome to YelpCamp
        p View our handpicked campgrounds from all over the planet
        p
          a.btn.btn-primary.btn-lg(href="/campgrounds/new") Add a new camping ground
    
    .row.d-flex.flex-wrap.text-center
      each campground in campgrounds
        .col-md-3.col-sm-6.mb-2
          .card
            img(src=campground.image, class="card-img-top img-thumbnail" alt="Missing Image")
            .card-body
              h5.card-subtitle=campground.name
            p
              a(href="/campgrounds/" + campground._id, class="btn btn-primary") More Info