extends partials/layout

block content
  h1 Create a New Campground
  form(action="/campgrounds", method="POST")
    input(type="text", name="name", placeholder="name")
    input(type="text", name="image", placeholder="image url")
    button Submit!