extends partials/layout

block content
  .container
    .row
    h1.text-center.mt-2 Create a New Campground
    div.mx-auto.mt-2.w-50.p-3
      form(action="/index", method="POST")
        .form-group
          input.form-control(type="text", name="name", placeholder="name")
        .form-group
          input.form-control(type="text", name="image", placeholder="image url")
        .form-group
          button.btn.btn-primary.btn-lg.btn-block Submit!

        a(href="/index") Go Back