extends partials/layout

block content
  .container
    .row
    h1.text-center Create a New Campground
    div.mx-auto.mt-3(style='width: 30%;')
      form(action="/campgrounds", method="POST")
        .form-group
          input.form-control(type="text", name="name", placeholder="name")
        .form-group
          input.form-control(type="text", name="image", placeholder="image url")
        .form-group
          button.btn.btn-primary.btn-lg.btn-block Submit!

        a(href="/campgrounds") Go Back